* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: green solid 1px; */
}

body {
  min-height: 100vh;
  font-family: Camphor, "Open Sans", "Segoe UI", sans-serif;
  color: rgb(90, 93, 122);
  /* font-size: 1.2rem; */
}

/* nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
} */

nav ul {
  width: 100%;
  /* list-style: none; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* nav li {
  height: 60px;
} */

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.sidebar {
  /* position: fixed; */
  /* top: 0;
  right: 0; */
  height: 100vh;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.15); */
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  /* display: none; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* .sidebar li {
  width: 100%;
} */
.sidebar a {
  width: 100%;
}

/* @media screen and (max-width: 799px) {
  .hideOnMobile {
    display: none;
  }
} */

/* @media screen and (min-width: 800px) {
  .menu-button {
    display: none;
  }
} */

/* @media screen and (min-width: 400px) {
  .sidebar {
    width: 250px;
  }
} */
